<user-panel name="{{vm.person.name}}" collapsed="{{vm.initialCollapsed}}" level="vm.person.level">
	<address></address>
	<br/>
	<h4>Friends:</h4>
	<ul>
		<li ng-repeat="friend in vm.person.friends">
			{{friend}}
			<remove-friend method="vm.removeFriend(friend)"></remove-friend>
		</li>
	</ul>
	<div ng-show="!!vm.person.rank">
		{{vm.person.rank}}
	</div>
	<button ng-show="!vm.person.rank" class="btn btn-success" ng-click="vm.upgradeArmor(vm.person)">Upgrade Armor</button>
</user-panel>

<modal open="vm.showKnightModal" options="{width: '100px', left: '40px'}" on-close="vm.knightModalDone(response)">
	<div class="panel panel-primary">
		<div class="panel-heading">Upgrade Armor</div>
		<div class="panel-body">
			<p>Do you want to Upgrade {{vm.person.name}}'s armor ?</p>
			<button class="btn btn-success" ng-click="vm.knightDialogDone(true, vm.person)">Yes</button>
			<button class="btn btn-danger" ng-click="vm.knightDialogDone(false)">No</button>
		</div>
	</div>
</modal>
