/* Menu */
.btn-info {
    margin-bottom: 5px;
}

/* Selected */
.hilight {
	color: red;
}

/* User Info Cards */
.user-ok {

}
.user-warning {
	color: orange;
}
.user-problem {
	color: cyan;
}
.user-error {
	color: red;
}

/* Display Box */
.box-size {
	width: 350px;
}
.inner-box-margins {
	float: right;
	margin-top: -15px;
	margin-right: -14px;
}

/* User List */
.detailsPanel {
	margin-top: 10px;
}
